{% extends 'base.html.twig' %}

{% block body %}
<h1 style="color:black; display:flex; text-align:center"> Réglement générale du traitement de vos données </h1>

<section >
<div class="container">
<h2 style="font-family: 'Dancing Script', cursive"> Traitement de vos donnée  </h2>
<text>
Les informations recueillies sur ce formulaire sont enregistrées dans
 un fichier informatisé par [identité et coordonnées du responsable
  de traitement] pour [finalités du traitement]. La base légale du 
  traitement est [base légale du traitement].
Les données collectées seront communiquées aux seuls destinataires
 suivants : [destinataires des données].
Les données sont conservées pendant [durée de conservation des données
 prévue par le responsable du traitement ou critères permettant de la déterminer].
Vous pouvez accéder aux données vous concernant, les rectifier, demander
 leur effacement ou exercer votre droit à la limitation du traitement de vos
  données. (en fonction de la base légale du traitement, mentionner également 
  : Vous pouvez retirer à tout moment votre consentement au traitement de vos 
  données ; Vous pouvez également vous opposer au traitement de vos données ; 
  Vous pouvez également exercer votre droit à la portabilité de vos données)
Consultez le site cnil.fr pour plus d’informations sur vos droits.

</text>
</div>
<br>
<div class="container">
<h2 style="font-family: 'Dancing Script', cursive; text-align:center"> Vos droits </h2>

<h4 style="font-family: 'Dancing Script', cursive"> Droit à l’information </h4>
<text>
Vous disposez d’un droit à l’information sur la façon dont sont collectées et
 traitées vos données personnelles. Plusieurs informations doivent ainsi être 
 portées à votre connaissance. Il s’agit par exemple de l’identité du responsable
  de traitement, des données qu’il collecte à votre sujet, les raisons pour lesquelles 
il les collecte, le nom des sous-traitants à qui il envoie vos données…
</text>
<br><br>
<h4 style="font-family: 'Dancing Script', cursive"> Droit d’accès à vos données </h4>
<text>
Vous avez le droit d’avoir accès aux données personnelles qui sont collectées
 et traitées à votre sujet. C’est une sorte de droit de regard auprès de tout
  organisme, qui devra vous envoyer sous
 un format lisible et ouvert l’ensemble des données qu’il détient sur vous.
</text>
<br><br>
<h4 style="font-family: 'Dancing Script', cursive"> Droit d’opposition</h4>
<text>
Sous certaines conditions, vous pouvez vous opposer totalement à la collecte
 et au traitement de vos données personnelles. 
Le responsable de traitement devra alors arrêter immédiatement de traiter vos données.
</text>


<br><br>
<h4 style="font-family: 'Dancing Script', cursive"> Droit de rectification</h4>
<text>
Si vous vous apercevez que les données personnelles collectées et traitées à votre
 sujet sont inexactes, vous avez le droit de demander leur rectification. Le responsable
 de traitement devra alors mettre à jour vos données dans les plus courts délais.
</text>
<br><br>
<h4 style="font-family: 'Dancing Script', cursive"> 	Droit à la mort numérique </h4>
<text>
Vous avez le droit de rédiger des directives générales concernant
 l’avenir de vos données personnelles après votre décès. Il vous faudra les envoyer
 à la Cnil ou aux responsables de traitement concernés, qui devront les respecter.
</text>
<br><br>
 <h4 style="font-family: 'Dancing Script', cursive"> Droit à la limitation du traitement</h4>
 <text>
  Vous avez le droit, sous certaines conditions, à faire valoir votre droit
  à la limitation du traitement de vos données. Le responsable de traitement ne pourra alors 
  plus que conservervos données personnelles, sans pour autant les traiter et les utiliser d’aucune manière.
  </text>
<br><br>
  <h4 style="font-family: 'Dancing Script', cursive"> Droit à la portabilité des données</h4>
  <text>
  Vous avez le droit de récupérer toutes vos données personnelles auprès d’un responsable
   de traitement afin de les transférer à un tiers de votre choix. Il devra vous
   les envoyer sous un format lisible et ouvert, et surtout les supprimer définitivement.
  </text>
</div>
  

</section>


{% endblock %}
