<h1>Hi! Please confirm your email!</h1>

<p>
    S'il vous plaie confirmer votre addresse maile en clicken sur le lien: <br><br>
    <a href="{{ signedUrl }}">confirmer mon email </a>.
    le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p style="font-family: 'Dancing Script', cursive">
    la boutique de la perle.
</p>
