{% extends 'base.html.twig' %}



{% block body %}
    <h1>
        S’il existe un compte correspondant à votre adresse e-mail, un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d’être envoyé.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </h1>
    <p>Si vous ne recevez pas d’e-mail, veuillez vérifier votre dossier spam ou cliquez sur le lien <a href="{{ path('app_forgot_password_request') }}">Réessayez</a>.</p>
{% endblock %}
