{% extends 'base.html.twig' %}
{% block body %}
    <h1 style="color: black"> Crée un nouveau produit </h1>

    {{ include('product_crud/_form.html.twig')}}

    <a href="{{ path('product_crud_index') }}">back to list</a>
{% endblock %}
