{% extends 'base.html.twig'%}

{% block body %}
<h1 style="color:black"> Cantacter le vendeur</h1>
<div class="container">
{{form_start(contact)}}
{{form_widget(contact)}}
{{form_end(contact)}}
</div>
{% endblock %}