
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" conent="bijoux perle - original - pour tous les style - 
elegants et moderne -personnalisable parfais pour cadeaux ">
<meta name="keywords" content="perles,bijoux,bracelet,bracelet-cheville,chaines-hanches,perle-fantaisie,personnalisable,hommes-femmes-enfant-unisexe">
<title>bracelet en perle fantaisie personnalisable style hommes femmes unisex enfants </title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin ="anonymous" >
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/nav.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
{% block link %}{% endblock %}
{% block title %}{% endblock %}

</head>

<!-- nav bar -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark " >

		 <img src="/logo.png""  id="logo"  alt="logo">
			<h1 >la boutique de la perle</h1>




			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
		
		<div style="margin-left: 60%">
			<a class="btn btn-info" href = "{{ path('app_login')}}" ><i class="fas fa-user" ></i></a>
            <a class="btn btn-info" href = "{{ path('product_index')}}"><i class="far fa-address-card"></i></a>
            <a class="btn btn-info" href= "{{ path('shop_index')}}"><i class="fas fa-shopping-cart"></i></a>
        </div>
	
		</nav>
    

{% block body %}{% endblock %}



<!-- footer -->
	<div class="footer-dark">
	<footer>
		
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3 item">
				<h3>Services</h3>
				<ul>
					<li><a href="#">création de bijoux</a></li>
					
					
				</ul>
			</div>
			<div class="col-sm-6 col-md-3 item">
				<h3>About</h3>
				<ul>
					<li><a href="{{path('rgpd')}}">rgpd</a></li>
					<li><a href="#">Team</a></li>
					<li><a href="#">Careers</a></li>
				</ul>
			</div>
			<div class="col-md-6 item text">
				<h3>la boutique de la perle</h3>
				<p>la boutique de la perle est une boutique en ligne vous retrouverez des création original et personalisable collier braceler collier de hanche ou braceler de chevies.
					suivez nous sur instagram et soyer a jours sur nos créat   </p>
			</div>
			<div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
		</div>
		<p class="copyright">la boutique de la perle © 2021</p>
	</div>
</footer>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="script.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin ="anonymous" ></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
{% block js %}{% endblock %}
</html>
