{% extends 'user.html.twig' %}

{% block body %}

{% for order in app.user.ordereds %}
<div class="row align-items-center">
    
    <div class="col">
        <p>Numerode commandes:{{ order.id}}</p>
    </div>
    <div class="col">
        Total:{{ order.price }}
    </div>
</div> 



    
{% endfor %}

{% endblock %}

