{% extends 'base.html.twig'%}
{% block body %}
<h1 style="color:black; display:block; text-align:center; margin-left:auto; margin-right:auto"> Page non trouvée </h1>
<div class="container-fluid">
    <p>
    La page demandée n'a pas été trouvée. Vérifier votre URL ou cliquer sur le lien:
    </p>
    <h6>
    <a href="{{path('product')}}"> Retourner à la page des produits</a>
    </h6>
</div>
{% endblock %}
