{% extends 'base.html.twig' %}



{% block body %}
 <h1 style="color:black">Oups! votre payement n'est pas passée</h1>
 <div class="container">
 <i class="far fa-hand-point-right"></i><a class="btn btn-info"href="{{path('checkout')}}"> Ressayer</a>
 <br>
 <br>
 <i class="far fa-hand-point-right"></i><a class="btn btn-info"href="{{path('product')}}"> Retour a la page des produit</a>
</div>
{% endblock %}
